<!DOCTYPE html>
<html>
    <head>
        <title>Application</title>
        <link rel="stylesheet"  href="../css/application.css">
        <div id="nav_bar">
            <img src="../assets/WisconsinWombats.png" alt="Logo" id="center" style="padding-top: 40px;">
            <p p style="text-align: center;padding-top: 50px;margin: 0;">
                <a href="index">Home</a>
                |
                <a href="schedule">Schedule</a>
                |
                <a href="application">Application</a>
            </p>
        </div>
        <div id="nav_blackbar"></div>
    </head>
    <body>
        <div id="app_buttons">
            <button id="new_app" onclick="window.location.href= 'new'">New Application</button>
            <br>
            <button id="existing_app" onclick="window.location.href= 'existing'">Existing Application</button>
        </div>
    </body>
</html>