<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
    <head>
        <title>View Application</title>
        <link rel="stylesheet"  href="../css/existing_app.css">
        <div id="nav_bar">
            <img src="../assets/WisconsinWombats.png" alt="Logo" id="center" style="padding-top: 40px;">
            <p p style="text-align: center;padding-top: 50px;margin: 0;">
                <a href="index">Home</a>
                |
                <a href="schedule">Schedule</a>
                |
                <a href="application">Application</a>
            </p>
        </div>
        <div id="nav_blackbar"></div>
    </head>
    <body>
        <br><br><br><br><br>
        <text id="search_text">Search for existing application</text>
        <div id="search" th:action="@{/new}" method="post" th:object="${applicant}">
            <br>
            <label class="search_function">Enter email:</label>
            <br>
            <input type="text" th:field="*{email}" placeholder="" class="search_function">
            <br><br>
            <label class="search_function">Enter password:</label>
            <br>
            <input type="password" th:field="*{password}" placeholder="" class="search_function">
            <br><br>
            <button id="search_button" onclick="window.location.href= 'view'">Search</button>
        </div>
    </body>
</html>