<!DOCTYPE html>
<html>
    <head>
        <title>Wisconsin Wombats</title>
        <link rel="stylesheet"  href="../css/home.css">
        <div id="nav_bar">
            <img src="../assets/WisconsinWombats.png" alt="Logo" id="center" style="padding-top: 40px;">
            <p style="text-align: center;padding-top: 50px;margin: 0;">
                <a href="index">Home</a>
                |
                <a href="schedule">Schedule</a>
                |
                <a href="application">Application</a>
            </p>
        </div>
        <div id="nav_blackbar"></div>
    </head>

    <body>
        <div id="welcome">
            <p>
            Welcome to the website for the Wisconsin Wombats baseball team.<br><br>
            We are a friendly amateur baseball team<br><br>
            We compete in community led matches every Saturday<br><br>
            Here you can view our schedule for upcoming games and practices<br><br>
            You can also apply for a position on the team or staff<br><br>
            You can also view your existing application.
            </p>
        </div>
        <div id="image">
            <img src="../assets/BaseballPlayer.jpg" alt="baseball player">
        </div>
    </body>
</html>