<!DOCTYPE html>
<html>
    <head>
        <title>Schedule</title>
        <link rel="stylesheet"  href="../css/schedule.css">
        <div id="nav_bar">
            <img src="../assets/WisconsinWombats.png" alt="Logo" id="center" style="padding-top: 40px;">
            <p style="text-align: center;padding-top: 50px;margin: 0;">
                <a href="index">Home</a>
                |
                <a href="schedule">Schedule</a>
                |
                <a href="application">Application</a>
            </p>
        </div>
        <div id="nav_blackbar"></div>
    </head>
    <body>
        <div id="feb_schedule">
            <p id="feb_schedule_title">February 2023 Schedule</p>
            <table id="feb_schedule_table">
                <tr>
                    <th>Sunday</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>1<br>Practice<br>6pm</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4<br>Game<br>11am</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>6<br>Practice<br>5pm</td>
                    <td>7</td>
                    <td>8<br>Practice<br>6pm</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11<br>Game<br>12am</td>
                </tr>
                <tr>
                    <td>12 =D<br>Party!<br>7pm</td>
                    <td>13<br>Practice<br>5pm</td>
                    <td>14</td>
                    <td>15<br>Practice<br>6pm</td>
                    <td>16</td>
                    <td>17</td>
                    <td>18<br>Game<br>11am</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>20<br>Practice<br>5pm</td>
                    <td>21</td>
                    <td>22<br>Practice<br>6pm</td>
                    <td>23</td>
                    <td>24</td>
                    <td>25<br>Game<br>12am</td>
                </tr>
                <tr>
                    <td>26</td>
                    <td>27<br>Practice<br>5pm</td>
                    <td>28</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table> 
          </div>
    </body>
</html>