<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
    <head>
        <title>View Application</title>
        <link rel="stylesheet"  href="../css/view_app.css">
        <div id="nav_bar">
            <img src="../assets/WisconsinWombats.png" alt="Logo" id="center" style="padding-top: 40px;">
            <p style="text-align: center;padding-top: 50px;margin: 0;">
                <a href="index">Home</a>
                |
                <a href="schedule">Schedule</a>
                |
                <a href="application">Application</a>
            </p>
        </div>
        <div id="nav_blackbar"></div>
    </head> 
    <body>
        <div id="top_text">
        <text>Application Information</text>
        </div>
        <div id="information" th:object="${applicant}">
            <text>
                First name: <text th:text="${applicant.getFirstName()}"></text>
                <br><br>
                Last name: <text th:text="${applicant.getLastName()}"></text>
                <br><br>
                Email: <text th:text="${applicant.getEmail()}"></text>
                <br><br>
                Position: <text th:text="${applicant.getPosition()}"></text>
                <br><br>
                Password: <text th:text="${applicant.getPassword()}"></text>
            </text>
        </div>
    </body>
</html>